<h4 mat-dialog-title>Survey</h4>

<div mat-dialog-content>
    <p>Complete this survey and get chance to win 0.001 to 1 pi points</p>
    <p>Q1). This news <strong>'crypto'</strong> related?</p>
        <mat-form-field>
                <input type = radio id="yes"/><label for="yes">Yes.</label>
                <input type = radio id="no"/><label for="no">No.</label>
        </mat-form-field>
        <p>Q2):<strong><input type="text" matInput [(ngModel)] ="author" readonly width=auto/></strong>is Author of this Article?</p>
        <mat-form-field>
            <input type = radio id="yes"/><label for="yes">Yes.</label>
            <input type = radio id="no"/><label for="no">No.</label>
        </mat-form-field>
        <p>Q3).<strong><input type="text" matInput [(ngModel)] ="source" readonly width=auto/></strong>is Source of this Article?</p>
        <mat-form-field>
            <input type = radio id="yes"/><label for="yes">Yes.</label>
            <input type = radio id="no"/><label for="no">No.</label>
        </mat-form-field>
</div>
<div mat-dialog-actions >
    <button mat-raised-button color=warn (click)="onNoClick()" >Close</button>
    <button mat-raised-button color=primary (click)="submitSurvey()" >Submit</button>
</div>
