.wallet-card{
    width:90%;
    height: 250px;
    border: 1cm;
    border-radius: 5px                                                                                                                                                                                                                                                                                                                                                                                                              ;
    border-color: black;
    margin-block: 10px;
    }
   
  
  .pi-balance{
    width: 100%;
    height: 100px;
    border-radius: 5px;
   
    background-color: lightgrey;
    font-size: 64px;
  
    text-align:center ;
  } 
    
    
    .wallet-actions {
        text-align: center;
        align-content: center;
    }