
  <mat-card class="wallet-card">
    <mat-card-header>
      
      <mat-card-title>Wallet</mat-card-title>
      <mat-card-subtitle><small><strong>Pi Points available for redemtion</strong></small></mat-card-subtitle>
      
    </mat-card-header>
    <mat-card-content >
      
        <div class="pi-balance">
           
        <br>
        <br>       &pi; 0.0001
         
        </div>
    </mat-card-content>
    
    <mat-card-actions class ="wallet-actions">
      <button  mat-button mat-raised-button color="primary" (click)="reedemPoints()" >REEDEM</button>

    </mat-card-actions>
  </mat-card>
  
