<app-top-bar></app-top-bar>
 <div class="news-body"> 
<app-container></app-container>
<div class="misc-body">
<app-crypto-container></app-crypto-container>
<app-wallet-container></app-wallet-container>

</div>
</div>  