.news-body{
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
}
.misc-body{

    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 650px;
    right: 10px;
    top: 64px;
    color: white;
    width: auto;
}