
    <mat-toolbar color="primary" >
        <span>PiCrypto</span>
        <button mat-button [routerLink]="['news/trending']">Trending</button>
        <button mat-button [routerLink]="['news/dashboard']" >Dashboard</button>
   <button mat-button >Category</button>
   <button mat-button >Search</button>
   <button mat-button >Profile</button>
   <span class="fill-remaining-space">
  
    <button mat-button >Logout</button>
   </span>
  </mat-toolbar>

  