
<mat-card class="crypto-trend-card">
    <mat-card-header>
      
      <mat-card-title>Trends</mat-card-title>
      <mat-card-subtitle><small><strong>Daily Market ticker</strong></small></mat-card-subtitle>
      
    </mat-card-header>
    <mat-card-content >
    
        <div class="crypto-chart">
           
        <br>
       <br>
       <br>      
        Daily crypto ticker goes here.
        
        </div>
    </mat-card-content>
    
    
  </mat-card>
  