.crypto-trend-card{
    width:90%;
    height: 250px;
    border: 1cm;
    border-radius: 5px                                                                                                                                                                                                                                                                                                                                                                                                              ;
    border-color: black;
    margin-block: 10px;
    }
   
  
  .crypto-chart{
    width: 100%;
    height: 180px;
    border-radius: 5px;
   
    background-color: lightgrey;
    font-size: 36px;
     word-wrap: normal;
    
    text-align:center ;
  } 
    
    
    