
  <mat-card class="news-card">
    <mat-card-header>
      
      <mat-card-title>{{news?.title}}</mat-card-title>
      <mat-card-subtitle><small><strong>Author:{{news?.author}}</strong></small>
        <br><small>Source: {{news?.source_name}}</small></mat-card-subtitle>
    </mat-card-header>
   
    <div class="news-image-frame">
    
    <img mat-card-image [src]="news?.urlToImage" [alt]="news?.url">
   
     </div>
   
    <mat-card-content>
      <p>
       <small>{{news?.content}}<a href={{news?.url}}>read more</a></small>
      
      
      </p>
    </mat-card-content>
    
    <mat-card-actions class ="news-actions">
      <button  mat-button mat-raised-button color="primary" (click)="submitSurvey('submit')" >SURVEY</button>

    </mat-card-actions>
  </mat-card>
  
