.news-card{
  width:42%;
  border: 1cm;
  border-color: black;
  left: 30px;
  margin-block: 10px;
  }
 
  .news-image {
     
      width:40%;
     margin: 5px;
}
.news-image-frame {
  width: auto;
  align-content: center;
} 
  
  
  .news-actions {
      text-align: center;
      align-content: center;
  }